build==1.2.1 ; python_version >= "3.11" and python_version < "3.12"
cachecontrol[filecache]==0.14.0 ; python_version >= "3.11" and python_version < "3.12"
certifi==2024.7.4 ; python_version >= "3.11" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux") and (sys_platform == "darwin" or platform_python_implementation != "PyPy")
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.12"
cleo==2.1.0 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and os_name == "nt"
crashtest==0.4.1 ; python_version >= "3.11" and python_version < "3.12"
cryptography==42.0.8 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "linux"
dictor==0.1.12 ; python_version >= "3.11" and python_version < "3.12"
distlib==0.3.8 ; python_version >= "3.11" and python_version < "3.12"
dulwich==0.21.7 ; python_version >= "3.11" and python_version < "3.12"
fastjsonschema==2.20.0 ; python_version >= "3.11" and python_version < "3.12"
filelock==3.15.4 ; python_version >= "3.11" and python_version < "3.12"
hererocks==0.25.1 ; python_version >= "3.11" and python_version < "3.12"
idna==3.7 ; python_version >= "3.11" and python_version < "3.12"
importlib-metadata==8.0.0 ; python_version >= "3.11" and python_version < "3.12"
installer==0.7.0 ; python_version >= "3.11" and python_version < "3.12"
jaraco-classes==3.4.0 ; python_version >= "3.11" and python_version < "3.12"
jeepney==0.8.0 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "linux"
keyring==24.3.1 ; python_version >= "3.11" and python_version < "3.12"
more-itertools==10.3.0 ; python_version >= "3.11" and python_version < "3.12"
msgpack==1.0.8 ; python_version >= "3.11" and python_version < "3.12"
packaging==24.1 ; python_version >= "3.11" and python_version < "3.12"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "3.12"
pip==23.3.2 ; python_version >= "3.11" and python_version < "3.12"
pkginfo==1.11.1 ; python_version >= "3.11" and python_version < "3.12"
platformdirs==4.2.2 ; python_version >= "3.11" and python_version < "3.12"
poetry-core==1.9.0 ; python_version >= "3.11" and python_version < "3.12"
poetry-plugin-export==1.8.0 ; python_version >= "3.11" and python_version < "3.12"
poetry-plugin-up==0.4.0 ; python_version >= "3.11" and python_version < "3.12"
poetry==1.8.3 ; python_version >= "3.11" and python_version < "3.12"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "3.12"
pycode-similar==1.4 ; python_version >= "3.11" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux") and (sys_platform == "darwin" or platform_python_implementation != "PyPy")
pyproject-hooks==1.1.0 ; python_version >= "3.11" and python_version < "3.12"
pywin32-ctypes==0.2.2 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
rapidfuzz==3.9.4 ; python_version >= "3.11" and python_version < "3.12"
requests-toolbelt==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.12"
secretstorage==3.3.3 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "linux"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "3.12"
tomlkit==0.12.5 ; python_version >= "3.11" and python_version < "3.12"
trove-classifiers==2024.7.2 ; python_version >= "3.11" and python_version < "3.12"
urllib3==2.2.2 ; python_version >= "3.11" and python_version < "3.12"
virtualenv==20.26.3 ; python_version >= "3.11" and python_version < "3.12"
xattr==1.1.0 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "darwin"
zipp==3.19.2 ; python_version >= "3.11" and python_version < "3.12"
